<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Web Coverage Service (WCS)</name>
    <version>
      <name>2.0.1</name>
      <suite>
        <namespace-uri>http://www.opengis.net/wcs/2.0</namespace-uri>
        <prefix>wcs2</prefix>
        <local-name>suite</local-name>
        <title>WCS 2.0.1 Conformance Test Suite</title>
        <description>Checks WCS implementations for conformance to OGC 09-110r3, 09-110r4.</description>
      </suite>
      <revision>
        <name>r1</name>
        <sources>
          <source>wcs/2.0.1/ctl</source>
        </sources>
        <resources>wcs/2.0.1/resources</resources>
        <webdir>wcs/2.0.1/web</webdir>
      </revision>
    </version>
  </standard>
</organization>
