<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>OGC® Web Coverage Service Interface Standard - Range Subsetting Extension</name>
    <version>
      <name>1.0</name>
      <suite>
        <namespace-uri>http://www.opengis.net/wcs/2.0</namespace-uri>
        <prefix>wcs2</prefix>
        <local-name>suite</local-name>
        <title>WCS Range Subsetting Conformance Test Suite</title>
        <description>Checks WCS Range Subsetting implementations for conformance to OGC 12-040.</description>
      </suite>
      <revision>
        <name>r0</name>
        <sources>
          <source>wcsrsub/1.0/ctl</source>
        </sources>
        <resources>wcsrsub/1.0/resources</resources>
        <webdir>wcsrsub/1.0/web</webdir>
      </revision>
    </version>
  </standard>
</organization>